@font-face {
	font-family: 'Satoshi';
	src: url('Satoshi-Regular.eot');
	src: local('Satoshi Regular'), local('Satoshi-Regular'),
		url('Satoshi-Regular.eot?#iefix') format('embedded-opentype'),
		url('Satoshi-Regular.woff2') format('woff2'),
		url('Satoshi-Regular.woff') format('woff'),
		url('Satoshi-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Satoshi';
	src: url('Satoshi-Light.eot');
	src: local('Satoshi Light'), local('Satoshi-Light'),
		url('Satoshi-Light.eot?#iefix') format('embedded-opentype'),
		url('Satoshi-Light.woff2') format('woff2'),
		url('Satoshi-Light.woff') format('woff'),
		url('Satoshi-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
