.custom__form {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-family: var(--second-font);
  font-size: 3.1em;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.6;
  text-transform: none;
  color: var(--accent);
}

.form__subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.input__form {
  padding: 10px 5px;
  margin-bottom: 20px;
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 1.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c0beba, inset -0.2rem -0.2rem 0.5rem #d4d0d0;
  background: none;
  font-family: inherit;
  color: var(--text-color)
}

.info {
  width: 100%;;
  margin-bottom: 20px;
  min-height: 140px;
  background-color: var(--bg-color);
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-left: 1.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c0beba, inset -0.2rem -0.2rem 0.5rem #d4d0d0;
  color: var(--text-color);
}

.info:focus,
.input__form:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem #c0beba, -0.2rem -0.2rem 0.5rem #d4d0d0;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtitle,
label {
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 700;
}

.checkbox__row {
  display: flex;
  align-items: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

input[type="checkbox" i] {
  background-color: var(--bg-color);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  appearance: none;
  box-sizing: border-box; 
  padding: initial;
  margin: 0 1rem 0 0;
  border: 1px solid var(--bg-color);
  border-radius: 0.5rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c0beba, inset -0.2rem -0.2rem 0.5rem #d4d0d0;
}

input[type="checkbox" i]:checked {
  background-image: var(--checkmark);
  background-size: contain;
}

.btn__submit {
  margin-top: 25px;
  width: 15rem;
  height: calc(100% + 5px);
  padding: 10px 5px;

  font-size: 18px;
  line-height: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: border 0.2s ease-in;
}

.btn__submit:active {
  box-shadow: inset .2rem .2rem 1rem #c8d0e7, inset -.2rem -.2rem 1rem  #fff;
}


@media (max-width: 768px) {
  body { overflow-x: hidden; }

  .custom__form {
    padding: 1rem;
  }

  .form__title{
    font-size: 2rem;
  }

  .btn__submit {
    width: 100%;
    margin-top: 20px;
  }
}