/* Header */
.header__wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  gap: 1em;
}

.header__content {
  margin-top: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 6rem;
}

.header__title {
  font-family: var(--second-font);
  margin-bottom: 40px;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--title-1);
}

.header__subtitle {
  font-style: italic;
  font-size: 2rem;
  color: var(--accent);
}

.header__text {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.header__text p + p{
  margin-top: 0.5em;
}

.header__image-container {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./../../img/thumbnail/Ellipse.svg");
  background-position: center;
  background-size: cover;
}

.big__product-img {
  width: auto;
  max-width: 90%;
  max-height: 60vh;
  object-fit: contain;
  position: relative;
}

.header__thumbnails {
  display: flex;
  gap: 0.75rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px auto 0;
  overflow-x: auto;
}


@media (max-width: 1160px) {
  .header__wrapper {
    margin-top: 7rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }
}


@media (max-width: 620px){
  /* Header  */

  .header {
    min-height: unset;
  }

  .header__content {
    padding-top: 4rem;
  }

  .header__wrapper {
    margin-top: 5rem;
  }

  .header__title {
    font-size: 48px;
    min-height: 200px;
    margin-bottom: 20px;
  }


  .technology {
    margin-top: 2rem;
  }

  .technology__buttons {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

}

